.header {
    grid-area: h;
    background-color: #0D1F23;
}


img.logo {
    position: absolute;
    z-index: 1000;
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
    
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img.logo:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); 
            
  }
       
  .title {
    position: absolute;
    color: #afb3b7;
    margin-left: 78px;
    font-family: "Gill Sans", sans-serif;
  }

  