.header {
    background-color: #0D1F23;
}


img.logo {
    position: absolute;
    z-index: 1000;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img.logo:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); 
            
  }
       

  