.header {
    grid-area: 'header';
    background-color: #0D1F23;
    display: flex;
    justify-content: space-between;

    max-height: 70px;
}
       
 

  h2{
    margin-left: 22px;
    margin-top: 25px;
    font-family: 'Oxanium', cursive;
    text-transform: uppercase;
    background: linear-gradient(45deg, #8A2BE2, #FF00FF, #9932CC, #800080);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.9;
    animation: animate 5s ease-in-out infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
    
  }

  