.nav {
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item {
    margin-left: 2px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    align-content: center;
}

.item a {
    text-decoration: none;
    color: #afb3b7;
}

.item :hover {
    color: #f55951;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 0 transparent,
    0 0 10px #f55951,
    0 0 15px #f55951; 
}

.item a.active {
    color: #f55951;
    font-weight: bold;
}