.nav {
grid-area: n;
background-color: #132e35;
    }

.item {
    color: #afb3b7;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 22px;
    align-content: center;
    
}

.item :hover {
    color: white;
}

.item.active {
    color: orangered;
}