.nav {
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item {
    margin-left: 2px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    align-content: center;
}

.item a {
    text-decoration: none;
    color: #afb3b7;
}

.item :hover {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 0 transparent,
    0 0 10px var(--accent-color),
    0 0 15px var(--accent-color); 
}

.item a.active {
    color: var(--accent-color);
    font-weight: bold;
}