.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: gray;
    position: absolute;
    height: 55px;
    z-index: 3;
}

.mainWrapper {
    display: flex;
    position: relative;
    width: 100wv;
    height: 100vh;
}