.app-wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "content";
    
}

.app-wrapper-content {
    grid-area: 'content';
    width: 100%;
    background-color: var(--ligth-color);
    display: inline-block;
    overflow: hidden;

    height: calc(100vh - 70px);
}