.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    font-family: "Gill Sans", sans-serif;
    font-size: 19px;
}

.dialogsItems a {
    text-decoration: none;
    color: #132e35;
}

.dialogsItems :hover {
    color: orangered;
}

.dialog a.active {
color: orangered;
}

.messages {
    padding: 10px;
}

.message {
padding: 10px;
}